*{
    box-sizing: border-box;
}

.wrapper{
    width: 600px;
    margin: 0 auto;
}
.container{
    overflow: hidden;
}
.Slider {
    margin-right: 2px;
}
.Slider img{
    height: 100px;
    padding: 2px;
}
.field{
    display: flex;
}

.buttons{
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6% ease;
}
.dots{
    text-align: center;
}
.active, dot:hover{
    background-color: #004850;
}